.Wrapper {
  width: 400px;
}

.InputField {
  width: 80%;
  border: 0.15rem solid var(--color-neutral-800);
  box-sizing: border-box;
  border-radius: var(--border-radius-small);
  margin-top: 0.5rem;
  resize: none;
  padding: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font: var(--typography-body-s-font);
  margin-right: var(--space-xs);
}

.InpuField:focus {
  outline: none;
}

::placeholder {
  font: var(--typography-body-s-font);
}
