.iconsDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}
.iconsP {
  text-align: center;
  font: var(--sl-tg-body-xs-font);
}

.iconsDiv:hover .iconsP {
  visibility: visible;
}
