.iconsDiv {
  position: relative;
  display: inline-block;
  margin: 30px;
}
.iconsDiv .iconsP {
  visibility: hidden;
  width: 120px;
  background-color: var(--sl-color-neutral-200);

  text-align: center;
  border-radius: 6px;

  font: var(--sl-tg-body-xs-font);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
}

.iconsDiv:hover .iconsP {
  visibility: visible;
}
